<div class="converter-content">
    <?php if ( count($this->history) ) { ?>
    <div class="history-container">
        <table id="history-table">
            <thead>
                <th>From currency</th><th>From</th><th>To</th><th>To currency</th>
            <thead>
            <tbody>
            <?php foreach ($this->history as $history) { ?>
                <tr>
                    <td><?php echo $history->getFrom(); ?></td><td><?php echo $history->getFromAmount(); ?></td><td><?php echo $history->getToAmount(); ?></td><td><?php echo $history->getTo(); ?></td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
    <?php } ?>
    <div class="converter-container">
        <?php echo $this->converterForm; ?>
    </div>
</div>