<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Currency conversion application</title>
  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/script.js"></script>

</head>
<body>
<div id="header" style="background-color: #EEEEEE; height: 30px; padding-left: 10px;">
    <div id="header-logo" style="float: left">
        <b>Currency Converter</b>
    </div>
    <div id="header-navigation" style="float: right">
    </div>
</div>
 
<div class="main-content">
    <?php echo $this->layout()->content; ?>
</div>

</body>
</html>